body{
    padding-top: 285px;
    margin-left: 5%;
    margin-right: 5%;
    width:100%;
}

.navbar navbar-light bg-light fixed-top{
    background-color: lightseagreen;
    height: 275px;
}

.navbar-brand text-white{
    background-color: lightseagreen;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bold;
    height: 150px;
    align-content: center;
}

.navbar-nav ml-auto{
    background-color: lightseagreen;
    height: 100px;    
}

.container-fluid{
    background-color: lightseagreen;
    height: 275px;   
}

.navbar-brand {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bolder;
    margin-left: 5%;
  }




.text-left{
    color: lightseagreen;
    margin-left: auto;
}

.col-md-12 col-md-8 col-lg-8{
    margin-left: auto;
    font-size: 150px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: lightseagreen;
    align-content: center;
    }   
    
.wrapingimage{
    float: left;      
    font-size: 35px;
    width: 90%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding-right: 15px;
    align-content:center;
}

.col-md-13 col-md-8 col-lg-8{
    margin-left: auto;
    font-size: 150px;  
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: lightseagreen;      
}

.text-left{
    margin-left: auto;
    font-size: 70px;  
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: lightseagreen;      
}

.para{
    float: left;      
    font-size: 35px;
    width: 90%;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 25px;
    align-content:center;
}

.d-flex justify-content-center{
    margin-left: 75%;
    font-family: 'Times New Roman', Times, serif;
}